/* Google Fonts 직접 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap');

body {
  font-family: 'Geist', 'Geist Mono', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
